[user]
	name  = Fran
	email = jfcobarea@gmail.com

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[core]
	pager        = delta
	excludesFile = ~/.gitignore_global

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate    = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Dracula

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[alias]
	st   = status -sb
	co   = checkout
	br   = branch -v
	lg   = log --oneline --graph --decorate --all
	last = log -1 HEAD --stat
	undo = reset HEAD~1 --mixed
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
